<div class="col-lg-4 form-group">
    <label class="control-label" for="numberCustomers">Customer Count</label>
    <input type="text" class="form-control" id="numberCustomers" name="numberCustomers"
           ng-model="myForm.formData.numberCustomers" placeholder="# of customers">
</div>

<div class="col-lg-4 form-group">
    <label class="control-label" for="topCustomerCount">Top Customer Count</label>
    <input type="text" class="form-control" id="topCustomerCount" name="topCustomerCount"
           ng-model="myForm.formData.topCustomerCount" placeholder="# top customers">
</div>

<div class="col-lg-4 form-group">
    <label class="control-label" for="annualSpend">Avg. Annual Spend</label>

    <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" id="annualSpend" name="avgAnnualSpend"
               ng-model="myForm.formData.avgAnnualSpend" placeholder="Average spend">
    </div>
</div>

<div class="col-lg-4 form-group">
    <label class="control-label" for="revenueRetention">Revenue Retention</label>

    <div class="input-group">
        <input type="text" class="form-control" id="revenueRetention" name="revenueRetention"
               ng-model="myForm.formData.revenueRetention" placeholder="Retention rate">
        <span class="input-group-addon">%</span>
    </div>
</div>

<div class="col-lg-4 form-group">
    <label class="control-label" for="customerRetention">Customer Retention</label>

    <div class="input-group">
        <input type="text" class="form-control" id="customerRetention" name="customerRetention"
               ng-model="myForm.formData.customerRetention" placeholder="Retention rate">
        <span class="input-group-addon">%</span>
    </div>
</div>

<div class="col-lg-4 form-group">
    <label class="control-label" for="accountManagers">Account Managers</label>
    <input type="text" class="form-control" id="accountManagers" name="accountManagers"
           ng-model="myForm.formData.accountManagers" placeholder="Number of AMs">
</div>