<div class="row">

    <div class="container-fluid" id="win-loss-questions"
         ng-class="{'col-lg-6' : myForm.formData.hasWinLoss && myForm.formData.hasCustomerExperience}"
         ng-if="myForm.formData.hasWinLoss">
        <div class="row well-sm">
            <h4>Win Loss Analysis Questions for + [product name]</h4>

            <p>Answer the following questions to determine the size of program to recommend and the potential outcomes
               the client can experience.</p>
        </div>
        <div class="row" ng-include="'app/products/wl.detail.html'">
        </div>
    </div>
    <div class="container-fluid" id="customer-experience-questions"
         ng-class="{'col-lg-6' : myForm.formData.hasWinLoss && myForm.formData.hasCustomerExperience}"
         ng-if="myForm.formData.hasCustomerExperience">
        <div class="row well-sm">
            <h4>Customer Experience Questions for + [product name]</h4>

            <p>Answer the following questions to determine the size of program to recommend and the potential outcomes
               the client can experience with a customer experience program.</p>
        </div>
        <div class="row" ng-include="'app/products/ce.detail.html'">
        </div>
    </div>
</div>
<div class="row container-fluid">
    <div class="row">
        <a href="#" class="btn btn-primary btn-warning btn-sm">clear answers</a>
        <a href="#" class="btn btn-primary btn-sm pull-right">save answers</a>
    </div>
</div>
